*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    background-color: #525252    
}
.register-form {
    width: 100%;
    float: left;
    background: #525252;
    padding: 60px 10px;

}
.register-left {
    width: 60%;
    float: left;

}
.register-left h1{
    font-size: 38px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #ffff;
}
.register-left p{
    
font-size: 15px;
    
padding: 10px;
}
.register-left ul{
    
list-style: none;
}
.register-left ul li{
    
padding: 5px;
    
color: #ffff;
    
letter-spacing: .5px;
}
.register-left ul li i{
    
}
.form-control{

}
.title-btn {
    
margin: 10px 20px;
    
padding: 8px 25px;
    
border-radius: 20px 17px;
    
color: #ffff;
    
background: #1e68b5;
}
.register-right {
    width: 40%;
    float: left;
    background: #ffff;
    text-align: center;

}
.register-right h2{
    font-size: 35px;


    
}
.register-right p{
     font-size: 18px;

}
    
.form-control {
    width: 80%;
    float: left;
    padding: 13px;
    margin: 10px 20px;
}
.form-btn {

padding: 10px 153px;

margin: 10px 20px;

background: #16237d;

color: #ffff;

text-transform: uppercase;

font-size: 12px;
}
